/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/04/2015, 07:17:29 PM
    Author     : Damián
*/


* {
    margin:0px;
    padding:0px;
    font-family:'Roboto Condensed';
}
body{
    background: #ccc;
}

nav .nav li a .caret_{
    display: block;
    float: right;
    margin-right: 3px;
    font-size: 18px;
}
select {
    display: block;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    width: calc(100% + 10px);
}
.menu_bar{
    display: none;
}
/*Fin configuraciones del menu
* inicia configuraciones del login
*/
#logo {
    border-radius: 10px;
    display: block;
    width: 20%;
    padding: 10px;
    margin: auto;
}



/*
    #vista es el contenedor de todas las vistas
*/
#vista {
    margin: auto;
}

.see{
    border: none;
    background: none;
}
.icon-sync{
    display: block;
    transition: 2.5s ease;
    -moz-transition: 2.5s ease; /* Firefox */
    -webkit-transition: 2.5s ease; /* Chrome - Safari */
    -o-transition: 2.5s ease; /* Opera */
}

button:hover .icon-sync {

    transform : rotate(360deg);
    -moz-transform : rotate(360deg); /* Firefox */
    -webkit-transform : rotate(360deg); /* Chrome - Safari */
    -o-transform : rotate(360deg); /* Opera */
}

.icon-search {
    font-size: 15px;

}

/*
 * Empiezan los estilos para los formularios
 */



.main {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 850px;
}

.main .formulario{
    width: 100%;
}

.main .formulario article{
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    margin: 10px auto;
    box-shadow: 5px 5px 7px rgba(0,0,0,.5);
}


aside {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1500;
    background: rgba(0,0,0,.5);
    top: 0px;

}


.abajo > button{
    display: none;
}

.abajo{
    text-align: right;
}

botones_operativos{
    margin: 15px 0px 10px 0px;
}

.botones_operativos button {
    box-shadow: 5px 5px 7px rgba(0,0,0,.5);
}



#obs {
    margin-top: 0px;
}

textarea {
    max-width: 98.4%;
    min-width: 98.4%;
    min-height: 60px;
    max-height: 60px;
    resize: none;
}



/*
Estiloa para la tabla de detalles
*/
.contenedor_tabla{

}
.tb_ {
    margin:0px;padding:0px;
    width:100%;
    min-width: 300px;
    border:1px solid #000000;
    overflow-x: scroll;
    overflow-y: auto;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.tb_ table{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;padding:0px;
}.tb_ tr:last-child td:last-child {
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
}
.tb_ table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.tb_ table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.tb_ tr:last-child td:first-child{
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
}.tb_ tr:hover td{
    background-color:#ffd8d8;
}

.tb_ td{
    vertical-align:middle;
    background-color:#ffffff;
    border:1px solid #000000;
    border-width:0px 1px 1px 0px;
    text-align:left;
    padding:7px;
    font-size:15px;
    font-family:Arial;
    font-weight:normal;
    color:#000000;

}/*
.table{
    table-layout: fixed;
}
.table .clickable-row:last-child td{
    border-width:0px 1px 0px 0px;
}
.table .clickable-row td:last-child{
    text-align: right;
    border-width:0px 0px 1px 0px;
}
.table .clickable-row:last-child td:last-child{
    border-width:0px 0px 0px 0px;
}

.table .clickable-row td:nth-last-child(2){
    border-width:0px 0px 1px 0px;
}
.table .clickable-row:last-child td:nth-last-child(2){
    border-width:0px 0px 0px 0px;
}
.table .clickable-row td:nth-last-child(1){
    min-width: 50px;
}*/

.table-primary thead tr td{
    background-color:#f92020;
    /*border:0px solid #000000;
    border-width:0px 0px 1px 1px;*/
    color:#ffffff;
    text-align:center;
    vertical-align: middle;
    font-size:18px;
    font-weight:bold;
    table-layout: fixed;
}


/*
Estilos de los botones superiores
*/
.arriba {
    text-align: left;
}
#new {
    /*    margin-left: 10px;*/
}
.icon-zoom-outline{

    font-weight: bold;
}
/*
#busq_serv {
    background: none;
    border: 1px solid #ccc;
    padding: 0px;
    height: 22px;
    border-left-style: none;
}
#busq_serv:hover {
    background: #ccc;
}

#busq_serv:active {
    background: #000;
    color: #fff;
}
*/
.detalle tbody tr td .op{
    display: block;
    float: right;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    padding: 7px;
    background: #d93434;
    margin-top: 6px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 12px;
    width: 40%;
}
.detalle tbody tr td .op:hover{
    background: #fc3c3c;
    background-image: -webkit-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -moz-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -ms-linear-gradient(top, #fc3c3c, #d93434);
    background-image: -o-linear-gradient(top, #fc3c3c, #d93434);
    text-decoration: none;
}
.detalle tbody tr td .op:active{
    background: #000;
}

.form_message{
    margin: auto;
    margin-bottom: 20px;    
    width: 700px;
    padding-top: 10px;
}
.form_message-title {
    display: block;
    color: #fff;
    font-size: 40px;
    text-align: center;
}



.botones{
    width: 1000px;
}

.botones button{
    padding: 10px;
    background: #f00;
    font-size: 20px;
    color: #fff;

}
.cancel, .send{
    border: none;

}

.cancel:hover, .send:hover{
    background: #F44336;
}
.asunto{

} 
.mensaje{

}

/*
    estilos parael spinner
*/
.spinner {
    width: 100px;
}
.spinner input {
    text-align: right;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}
.navbar-toggle {
    background: #607D8B;
    color: #fff;
}

.nav{
    font-size: 18px;
}

li ul li a {
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;


}

li ul{

    margin-bottom: 0px;
    margin-top: 0px;
}

.ui-datepicker{
    z-index: 10;
}
.busq_tab{
    max-width: 470px;
    width: 100%;
    overflow-x: no-display;
}
.load {
    position: fixed;
    right: 5px;
    top: 8px;
    z-index: 1000;
}
.load #l_table {
    margin: auto;
}
.load #l_table tr, .load #l_table tr td{
    width: 20px;
    height: 20px;
}

table .dataTable thead .sorting:last-child {
    background-image: none;
}

.table_conenedor{
    max-height: 200px;
    overflow-y: auto;
}

.zelect {
    display: inline-block;
    background-color: white;
    width: 100%;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 4px;
    position: relative;
    padding: 6px 12px;
}
.zelected {
    /*    font-weight: bold;
        padding-left: 10px;
        margin-top: -8px;*/
}

.zelect.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.zelect .dropdown {
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    position: absolute;
    left: -4px;
    right: -7px;
    top: -5px;
    z-index: 1000;
    padding: 3px 5px 0px 3px;
}


.zelect .dropdown ol .current{
    background: #ccc;
}
.dropdown input {
    outline: none;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 0 7px 10px;
}
.zelect .dropdown ol {

    margin: 3px 0 0 0;
    list-style-type: none;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 5px 5px 3px rgba(0,0,0,.3);
}
.dropdown li {
    padding: 10px 5px 7px 10px;
}
.dropdown-menu li:hover {
    transition-duration: 1s;
    background: #F44336;
}
.dropdown li.current {
    background-color: #e9ebe1;
}
.dropdown .no-results {
    margin-left: 10px;
    box-shadow: 5px 5px 3px rgba(0,0,0,.3);
}

.i{
    display: none;
}

/*form-group .help-block{
    display: none;
}*/
.help-block{
    display: none;
}

.mostrar_referenciales {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    transition: right 2s;
    transition-timing-function: ease;
    right: 0px;
    top: 0px;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);
}

.mostrar_referenciales .alert-panel{
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 15px auto;
}


.ocultar_referenciales {

}

.btn_contextual{
    display: inline-block;
    float: right;
    position: relative;
    top: 28px;
    margin-left: -200px;
    left: 8px;
    height: 14px;
}

.active .btn_contextual .btn_contextual_container{
    background: #f5f5f5; /* Old browsers */
background: -moz-linear-gradient(top, #f5f5f5 0%, #ccccc 57%, #a1dbff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f5f5f5 0%,#ccccc 57%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f5f5f5 0%,#ccccc 57%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#ccccc',GradientType=0 ); /* IE6-9 */
    /*background: #f5f5f5;*/
    width: 100px;
    display: block;
    border: 1px #ccc solid;
    border-width: 0px 0px 1px 1px;
    border-radius: 0px 0px 0px 10px;
    text-align: right;
}



.b td button{
    background: none;
    border: none;
    display: none;
    cursor:pointer;

}



.active td button{
    display: inline-block;
    font-size: 18px;
    margin: 3px 3px 3px 3px; 
}

.clickable-row .btn_container button {
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}

.active .contextual .btn_container{

    display: inline-block;
}

.active .contextual .btn_container button{
    display: inline-block;
}

.ui-dialog .ui-dialog-content{
    overflow: unset;
}
.medio{
    display: none;
}

