
/* 
    Created on : 12-jun-2016, 12:08:43
    Author     : Damián
*/
html{
    height: 100%;
    background: rgb(232,232,232);
    overflow-y: auto;
    background: -moz-linear-gradient(-45deg,  rgba(232,232,232,1) 0%, rgba(204,204,204,1) 56%, rgba(160,160,160,1) 98%);
    background: -webkit-linear-gradient(-45deg,  rgba(232,232,232,1) 0%,rgba(204,204,204,1) 56%,rgba(160,160,160,1) 98%);
    background: linear-gradient(135deg,  rgba(232,232,232,1) 0%,rgba(204,204,204,1) 56%,rgba(160,160,160,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#a0a0a0',GradientType=1 );


}
body{
    background: none;
    /*    height: 100%;
        background: rgb(232,232,232);
        overflow-y: auto;
        background: -moz-linear-gradient(-45deg,  rgba(232,232,232,1) 0%, rgba(204,204,204,1) 56%, rgba(160,160,160,1) 98%);
        background: -webkit-linear-gradient(-45deg,  rgba(232,232,232,1) 0%,rgba(204,204,204,1) 56%,rgba(160,160,160,1) 98%);
        background: linear-gradient(135deg,  rgba(232,232,232,1) 0%,rgba(204,204,204,1) 56%,rgba(160,160,160,1) 98%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#a0a0a0',GradientType=1 );*/

}
a{
    cursor: pointer;
}
.contenedor-central{
    display: block;
    margin-top: 20px;
    margin: auto;
    max-width: 800px;
    width:100%;
}
#logo{
    display: block;
}

.main {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 850px;
}

.main .formulario{
    width: 100%;
}

.main .formulario article{
    padding: 20px;
    background: #fff;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    margin: 10px auto;
    box-shadow: 5px 5px 7px rgba(0,0,0,.5);
}
.medio{
    display: none;
}

.context-event .glyphicon {
    margin-right: 8px;
    line-height: 1;
    font-size: 17px;
    margin-top: 2px;
    display: inline-block;
    position: relative;
    top: 3px;
}

.table-primary thead tr td{
    background-color:#f92020;
    color:#ffffff;
    text-align:center;
    vertical-align: middle;
    font-size:18px;
    font-weight:bold;
}

.botones_operativos button {
    box-shadow: 5px 5px 7px rgba(0,0,0,.5);
}

.botones_operativos {
    margin: 10px 0 10px 0;
}

.abajo button{
    display: none;
}


/*zelect.js*/
.zelect {
    display: inline-block;
    background-color: white;
    width: 100%;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 4px;
    position: relative;
    padding: 6px 12px;
}
.zelected {
    border-style: none;
    background: none;
    padding: 0px;
    width: 100%;
    text-align: left;
}

.zelect.open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.zelect .dropdown {
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    position: absolute;
    left: -4px;
    right: -7px;
    top: -5px;
    z-index: 1000;
    padding: 3px 5px 0px 3px;
}


.zelect .dropdown ol .current{
    background: #ccc;
}
.zelect .dropdown input {
    outline: none;
    border-radius: 4px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    width: 100%;
    padding: 7px 0 7px 10px;
}
.zelect .dropdown ol {
    padding:0px;
    margin: 3px 0 0 0;
    list-style-type: none;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 5px 5px 3px rgba(0,0,0,.3);
}
.zelect.dropdown li {
    padding: 10px 5px 7px 10px;
}

.dropdown li.current {
    background-color: #e9ebe1;
}

.dropdown .no-results {
    margin-left: 10px;
    box-shadow: 5px 5px 3px rgba(0,0,0,.3);
}


.lista-contenedor{
    overflow-y:hidden;
    overflow-x: hidden
}
.lista-contenedor:hover{
    overflow-y:auto;
}
.lista-item:last-child{
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.lista-item:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.lista-item{
    margin-bottom: -7px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.lista-item:hover{
    background: #f5f5f5;
}