<nav class="navbar navbar-default" role="navigation">
    <!-- El logotipo y el icono que despliega el menú se agrupan
         para mostrarlos mejor en los dispositivos móviles-->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Mega Global</a>
    </div>

    <!-- Agrupar los enlaces de navegación, los formularios y cualquier
         otro elemento que se pueda ocultar al minimizar la barra-->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Principal <span class="push-right caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/apertura_cierre">Apertura Cierre</a></li>
                    <li><a href="#/servicios_vigentes">Servicios Vigentes</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Mantenimiento <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/clientes">Clientes</a></li>
                    <li><a href="#/usuario">Usuarios</a></li>
                    <li><a href="#/empleados">Empleados</a></li>
                    <li><a href="#/cargos">Cargo</a></li>
                    <li><a href="#/servicios">Servicios</a></li>
                    <li><a href="#/ciudades">Ciudades</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Gestionar <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#/propuesta">Propuestas</a></li>
                    <li><a href="#/orden">Orden Publicidad</a></li>
                    <li><a href="#/cobros">Cobros</a></li>
                    <li><a href="#/ventas">Ventas</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Mi perfil <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/megaglobal_web_2/salir">Cerrar Sesi&oacute;n</a></li>
                    <li><a href="#/mis_datos">Modificar mis datos</a></li>
                    <li><a href="#/passwordchange">Cambiar contrase&ntilde;a</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
